.aboutMe{
  padding-bottom: 5rem;
}
h1{
  margin: 0;
  padding-top: 5%;
}
.foto{
   border-radius: 200px;
   width: 100%;
}
@media only screen and (max-width: 767px) {
  .foto{
     border-radius: 200px;
     width: 40%;
  }
}
