.portfolioBg{
  padding-bottom: 5rem;
}
.portfolio{
}
h1{
  margin: 0;
  padding-top: 5%;
}
* {
  box-sizing: border-box;
}
.slider {
  width: 100%;
  margin-top: 5%;
}

.slick-slide {
  margin: 0px 1%;
}

.slick-slide img {
  width: 100%;
}
